<footer class="site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Contacto</h2>
        <ul>
          <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>Uno</li>
          <li>Dos</li>
          <li>Tres</li>
          <li>Cuatro</li>
        </ul>  
      </div>
      <div class="col-md-4">
        <ul>
          <li>Uno</li>
          <li>Dos</li>
          <li>Tres</li>
          <li>Cuatro</li>
        </ul>  
      </div>
      <div class="col-md-4">
        <img src="http://placekitten.com/g/300/300" alt="Sello de calidad" class="img-responsive" />
      </div>
    </div>
  </div>
 
</footer>
